@import url('https://fonts.googleapis.com/css2?family=Share+Tech+Mono&display=swap');

body {
    font-family: 'Share Tech Mono', monospace;
}

nav {
    color: black;
    padding: 10px;
}

p {
    margin-left: 50px;
    margin-right: 50px;
}
