@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

*{
    margin: 0;
    font-family: "poppins";
}

body{
    background-color: #f2e8cf;
}

header{
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #6a994e;
    height: 150px;
    gap:700px;
}

header nav{
    display: flex;
    gap: 30px;
}
header nav a{
    text-decoration: none;
    color: white;
    font-size: 15px;
    font-weight: 500;
    transition: all 0.5s ease;
}

header nav a:hover{
    color: #f2e8cf;
}
header h1{
    color: white;
    font-size: 40px;
}

.container{
    padding: 30px;
    gap: 20px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.block{
    background-color: rgba(255, 255, 255, 0.5);
    height: 68vh;
    width: 33.33%;
    border-radius: 15px;
    padding: 20px;
}

.block img{
    width: 90%;
    border-radius: 15px;
    margin-top: 15px;
        display: block;
    margin-left: auto;
    margin-right: auto; 
}

.block a{
    color: #6a994e;
    
}